
h1 {
    text-align: center;
}


body {
    font-family: 'Calibri', sans-serif;
}

header, nav, main, aside, footer {
    border: 5px solid;
}


header {
    background-color: #D3D3D3;
    border-color: black;
    height: 100px;
}

nav {
    background-color: #FFFF6C;
    border-color: #e7c157;
    height: 150px;
}

main {
    background-color: white;
    border-color: #df6c20;
    height: 400px;
}

aside {
    background-color: #D2D2D2;
    border-color: #8db243;
    height: 50px;
}

footer {
    background-color: #81AAEF;
    color: white;
    padding: 20px;
    text-align: center;
    border-color: #C8C8C8;
    height: 50px;
}
